In [1]:
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_ind
import numpy as np
import pandas as pd
import scipy

In [2]:
snap_df = pd.read_csv("percentage_data.csv")

In [3]:
snap_df.head()

,Unnamed: 0,State,% of WIC Participants,% of School Lunch Program Participants,% of School Breakfast Program Participants,% of Summer Food Participants,% Adults with Diabetes,% Obese Adults,State Population
0,0,AL,2.878178,11.174373,4.641764,0.627563,15.489552,36.128358,4829479
1,1,AK,3.162859,7.201662,2.845407,0.696638,7.103571,31.325000,728929
2,2,AZ,2.754891,9.763085,4.370366,0.357575,11.093333,28.773333,6624617
3,3,AR,3.034377,11.238083,5.623351,1.417735,13.308000,35.898667,2958663
4,4,CA,3.735160,8.594137,3.958088,0.299174,8.774138,24.131034,38335203

In [4]:
snap_df = snap_df.drop("Unnamed: 0", axis = 1)
snap_df.head()

,State,% of WIC Participants,% of School Lunch Program Participants,% of School Breakfast Program Participants,% of Summer Food Participants,% Adults with Diabetes,% Obese Adults,State Population
0,AL,2.878178,11.174373,4.641764,0.627563,15.489552,36.128358,4829479
1,AK,3.162859,7.201662,2.845407,0.696638,7.103571,31.325000,728929
2,AZ,2.754891,9.763085,4.370366,0.357575,11.093333,28.773333,6624617
3,AR,3.034377,11.238083,5.623351,1.417735,13.308000,35.898667,2958663
4,CA,3.735160,8.594137,3.958088,0.299174,8.774138,24.131034,38335203

In [6]:
top_ten_wic = snap_df.sort_values("% of WIC Participants", ascending = False)


top_ten_wic.to_csv("top_ten_wic.csv", encoding = "utf-8", index = True, header = True)
top_ten_wic.head(10)

,State,% of WIC Participants,% of School Lunch Program Participants,% of School Breakfast Program Participants,% of Summer Food Participants,% Adults with Diabetes,% Obese Adults,State Population
4,CA,3.735160,8.594137,3.958088,0.299174,8.774138,24.131034,38335203
43,TX,3.607650,12.520410,6.869920,0.681266,10.396063,28.702756,26473525
1,AK,3.162859,7.201662,2.845407,0.696638,7.103571,31.325000,728929
36,OK,3.077342,11.369284,5.911980,0.293712,13.025974,34.453247,3852415
24,MS,3.064790,13.094010,6.932160,0.900056,14.657317,36.807317,2990482
3,AR,3.034377,11.238083,5.623351,1.417735,13.308000,35.898667,2958663
18,LA,3.022997,12.218177,5.741568,0.884316,12.893750,36.176563,4626402
17,KY,2.952475,12.107574,6.294704,0.458791,13.267500,34.230000,4400477
31,NM,2.942270,10.559550,7.105098,1.073570,9.254545,25.078788,2085193
10,GA,2.899607,12.472466,6.090554,0.716649,12.686792,31.393711,9984938

In [ ]:
top_ten_lunch = snap_df.sort_values("% of School Lunch Program Participants", ascending = False)
top_ten_lunch.head(10)

top_ten_lunch.to_csv("top_ten_lunch.csv", encoding = "utf-8", index = True, header = True)

In [ ]:
top_ten_breakfast = snap_df.sort_values("% of School Breakfast Program Participants", ascending = False)
top_ten_breakfast.head(10)

top_ten_breakfast.to_csv("top_ten.csv", encoding = "utf-8", index = True, header = True)

In [ ]:
top_ten_summer = snap_df.sort_values("% of Summer Food Participants", ascending = False)
top_ten_summer.head(10)

In [ ]:
top_ten_diabetes = snap_df.sort_values("% Adults with Diabetes", ascending = False)
top_ten_diabetes.head(10)

In [ ]:
top_ten_obese = snap_df.sort_values("% Obese Adults", ascending = False)
top_ten_obese.head(10)