In [6]:
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_ind
import numpy as np
import pandas as pd
import scipy

In [7]:
wic = pd.read_csv("all_2013_data.csv")

In [8]:
wic.head()

,State,WIC Participants,Nat School Lunch Program Participants,School Breakfast Program Participants,Summer Food Participants,% Adults with Diabetes,% Obese Adults,Population
0,AL,139001,539664,224173,30308,15.489552,36.128358,4829479
1,AK,23055,52495,20741,5078,7.103571,31.325000,728929
2,AZ,182501,646767,289520,23688,11.093333,28.773333,6624617
3,AR,89777,332497,166376,41946,13.308000,35.898667,2958663
4,CA,1431881,3294580,1517341,114689,8.774138,24.131034,38335203

In [9]:

wic.dtypes

State                                     object
WIC Participants                           int64
Nat School Lunch Program Participants      int64
School Breakfast Program Participants      int64
Summer Food Participants                   int64
% Adults with Diabetes                   float64
% Obese Adults                           float64
Population                                 int64
dtype: object

In [10]:

wic_per = (wic["WIC Participants"] / wic["Population"])*100

lunch_per = (wic["Nat School Lunch Program Participants"]/ wic["Population"])*100

breakfast_per =(wic["School Breakfast Program Participants"]/ wic["Population"])*100

summer_per = (wic["Summer Food Participants"]/ wic["Population"])*100

state = (wic["State"])

diabetes = (wic["% Adults with Diabetes"])

obese = (wic["% Obese Adults"])
pop = (wic["Population"])

results_df = pd.DataFrame({"State" : state,
                          "% of WIC Participants": wic_per, "% of School Lunch Program Participants" : lunch_per,
                          "% of School Breakfast Program Participants" : breakfast_per, 
                          "% of Summer Food Participants" : summer_per, "% Adults with Diabetes" : diabetes,
                           "% Obese Adults" : obese, "State Population" : pop
                          })
results_df.head()

,State,% of WIC Participants,% of School Lunch Program Participants,% of School Breakfast Program Participants,% of Summer Food Participants,% Adults with Diabetes,% Obese Adults,State Population
0,AL,2.878178,11.174373,4.641764,0.627563,15.489552,36.128358,4829479
1,AK,3.162859,7.201662,2.845407,0.696638,7.103571,31.325000,728929
2,AZ,2.754891,9.763085,4.370366,0.357575,11.093333,28.773333,6624617
3,AR,3.034377,11.238083,5.623351,1.417735,13.308000,35.898667,2958663
4,CA,3.735160,8.594137,3.958088,0.299174,8.774138,24.131034,38335203